/* Navbar start  */



.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.fa-get-pocket {
    margin-right: 5px;
}

.nav-link {
    color: white !important;
}

.btn {
    color: white !important;
}


/* Navbar END  */


/* bannar section start  */

.head-area {
    padding-top: 5%;
}

.title {
    color: white !important;
    margin-top: 15%;
}


.image {
    width: 100%;
     
}

.bottom-image {
    width: 100%;
}

/* bannar section start  */


.consult-image img {
    width: 100%;
}

.target img {
    width: 100%;
}








